<div id="google-plus" class="social_button">
  <!-- GOOGLE +1 -->
  <g:plusone size="medium"></g:plusone>
  <script type="text/javascript">
    window.___gcfg = {lang: '<%= I18n.default_locale %>'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <!-- /GOOGLE +1 -->
</div>