<header class="meta">
  <h1 class="post-title">
    <% if params[:action] == 'show' %>
      <%= post.title %>
    <% elsif params[:action] == 'index' %>
      <%= link_to post.title, post_path(post) %>
    <% end %>
  </h1>
  <div class="meta-secondary">
    <div class="published-date">
      <%= l(post.published_at, :format => :long) %>
    </div>
    <div class="author">
      <%= author.fullname %>  
    </div>
  </div>
</header>