<header class="meta">
  <h1 class="post-title">
    <%= @post.title %>
  </h1>
  <div class="meta-secondary">
    <div class="published-date">
      <%= t('tinyblog.posts.published_on', :date => l(@post.created_at.to_date, :format => :long)) %>
    </div>
    </div class="author">
      <%= t('tinyblog.posts.written_by', :name => @author.fullname) %>  
    </div>
  </div>
</header>