<% if Tinyblog.share_buttons_on %>
  <div class="share-btns">
    <%= render 'twitter_share_button' %>
    <%= render 'facebook_share_button' %>
    <%= render 'gplus_share_button' %>
  </div>
<% end %>