<% content_for(:meta_description) { Tinyblog.blog_description } %>

<% cache(cache_key_for_posts) do %>

  <main class="posts">
    <%= render @posts %>
  </main>

<% end %>

<aside>
  <%= render 'latest_posts', :posts => @latest_posts %>
</aside>

