<!DOCTYPE html>
<html>
<head>
  <title>Tinyblog</title>
  <%= stylesheet_link_tag    "tinyblog/application", media: "all" %>
  <%= javascript_include_tag "tinyblog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
