<h1>Latest Posts</h1>

<table class="table posts">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.title %>
        </td>
        <td>
          Edit
        </td>
        <td>
          Delete
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


