<%= content_for :head do %>
  <link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
  <script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
<% end %>

<h1>Create Post</h1>
<%= render 'form' %>
